<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-simples}">
	
<section layout:fragment="conteudo">

	<div class="form" id="error500">
		<h1 class="aw-error-panel__code" >
			<i class="glyphicon glyphicon-remove-sign text-danger"></i> 500
		</h1>
		
		<h2 class="aw-error-panel__title">Internal Server</h2>
		
		<div class="aw-error-panel__description">
			Ocorreu um erro inesperado nessa página!!! 
			<br/><br/>
			<a href="javascript:history.back()" class="btn  btn-primary">Voltar para a página inicial</a>
		</div>

		
	</div>
</section>
	
</html>