/implementacao/ithappensControl/.project
/implementacao/ithappensControl/.classpath
/implementacao/ithappensControl/.settings
/implementacao/ithappensControl/bin
/implementacao/ithappensControl/target/classes
/implementacao/ithappensControl/target
