<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<nav class="navbar  navbar-fixed-top  navbar-default" role="navigation"
	th:fragment="layout-header">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/ithappens/dashboard}"> <img
				alt="ContaControle" th:src="@{/layout/images/ithappens.jpg}"
				id="logo" title="ItHappens" rel="tooltip" data-placement="right"/>
			</a>

			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">

				<li><a sec:authorize="hasRole('ROLE_USER')"> <i
						class="glyphicon glyphicon-user"></i><span
						th:text="${#authentication.name}" title="Usuario Logado"
						rel="tooltip" data-placement="bottom"></span></a></li>

				<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')"
						title="Cadastro e Pesquisa" rel="tooltip" data-placement="left"><a	href="/ithappens" class="dropdown-toggle" data-toggle="dropdown"><span
						class="glyphicon glyphicon-th-list"></span> Menu<b class="caret"></b></a>

					<ul class="dropdown-menu pull-left" role="menu">
						<li><a href="#cadastroUserModal" role="button"
							data-toggle="modal">Cadastrar Usuario</a></li>
						<li><a href="#cadastroClientModal" role="button"
							data-toggle="modal">Cadastrar Cliente</a></li>
						<li><a href="#cadastroBranchModal" role="button"
							data-toggle="modal">Cadastrar Filial</a></li>
						<li><a class="borderLinha"></a></li>
						<li><a th:href="@{/ithappens/user}"
							id="ListarUser" role="button" data-toggle="modal">Listar
								Usuários</a></li>
						<li><a th:href="@{/ithappens/client}" id="ListarClient"
							role="button" data-toggle="modal">Listar Clientes</a></li>
						<li><a th:href="@{/ithappens/branch}" id="ListarBranch"
							role="button" data-toggle="modal">Listar Filial</a></li>
					</ul>
					
					<li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/ithappens/logout}"><span
								class="glyphicon glyphicon-log-out" title="Sair" rel="tooltip"
								data-placement="bottom"></span> Sair</a></li>
					</li>
			</ul>
		</div>
	</div>
</nav>
</html>