<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/LayoutPadrao}">
	
<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" th:action="@{/ithappens/branch}" th:object="${branch}">

		<div th:replace="/layout/MensagemGeral :: alert"></div>
		<div th:replace="/layout/MensagemErro :: alert"></div>
		
		<div class="panel panel-primary">
			<div class="panel-heading center">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Filiais</h1>					
					<a class="btn btn-default pull-right" th:href="@{/ithappens/branch}">
					<span class="glyphicon glyphicon-search"></span>Listar Filiais</a>
				</div>
			</div>			
			<div class="panel-body">
			
			<div class=""> <input type="hidden" th:field="*{codigo}" /></div>
			
				<div class="form-group">			
					<div class="col-md-12"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome" class="control-label">Filial:</label>
						<input type="text" class="form-control text-uppercase"
							placeholder="Nome da Filial" id="nome"
							th:field="*{nome}" />
					</div>
					
					<div class="col-md-6">
						<label for="cnpj" class="control-label">CNPJ:</label>
						<input type="text" class="form-control text-uppercase" id="cnpj" name="cnpj" th:field="*{cnpj}"/>
					</div>
					<div class="col-md-6">
						<label for="city" class="control-label">Cidade:</label>
						<input type="text" class="form-control text-uppercase" id="city" name="city" th:field="*{city}"/>
					</div>
					<div class="col-md-12">
						<label for="address" class="control-label">Endereço:</label>
						<input type="text" class="form-control text-uppercase" id="address" name="address" th:field="*{address}"/>
					</div>
				</div>
					
					
				</div>
			
				<div class="form-group">	
					<div class="col-md-2">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>