<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<section layout:fragment="conteudo">
<div class="modal fade" id="cadastroUserModal" tabindex="-1" data-keyboard="false" data-backdrop="static" th:fragment="cadastroUser-modal">
	<div class="modal-dialog">
		<form class="form-horizontal" method="POST" th:action="@{/ithappens/user}" th:object="${user}">			
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cadastrar Usuário</h4>
				</div>				
				<div class="modal-body">
			
				<div class="form-group">			
					<div class="col-md-6">
						<label for="nome" class="control-label">Usuário:</label>
						<input type="text" class="form-control text-uppercase" id="nome" name="nome" autofocus/>
					</div>
					
					<div class="col-md-6">
						<label for="email" class="control-label">Email:</label>
						<input type="email" class="form-control"
							placeholder="emai@example.com" id="email" name="email"/>
					</div>
				</div>	
										
				</div>				
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
</div>
</section>	
</html>