<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="modal fade" id="addOrderedItems" tabindex="-1"
	data-keyboard="false" data-backdrop="static"
	th:fragment="addOrderedItems-modal">
	<div class="modal-dialog">
		<form th:attr="data-url-base=@{/ithappens/orderedItems}" method="POST"
			th:object="${orderedItem}">

			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cadastro de Pedidos</h4>
				</div>
				<div class="modal-body col-md-12">
					<input type="hidden" name='sales' value='sales' id="sales" />
					<div class="form-group col-md-12">
						<div class="col-md-12">
							<label for="products" class="control-label">Produtos:</label>
							<select
								class="form-control" name="products">
								<option th:each="products : ${tdproducts}" th:value="${products.codigo}"
									th:text="| ${products.description} - Codigo: ${products.codigo} - R$: ${products.value}|">
								</option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-12">
					
						<div class="col-md-3">
							<label for="qtdProduct" class="control-label">Qtd.
								Produto:</label> <input type="number" class="form-control"
								id="qtdProduct" min="1" name="qtdProduct" />
						</div>
						
						<div class="col-md-3">
							<label for="totalValue" class="control-label">Valor Total:</label>
							<input type="text" class="form-control"
								id="totalValue" name="totalValue" readonly="readonly"/>
						</div>

					</div>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Inserir</button>
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
</div>

</html>



