<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
<title>Listar Vendas</title>
</head>

<section layout:fragment="conteudo">
<div th:replace="/layout/MensagemGeral :: alert"></div>

	<div class="panel panel-primary ">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisar</h1>
				<a class="btn btn-success pull-right" th:href="@{/ithappens/novo}" sec:authorize="hasRole('ROLE_ADMIN')"><span
					class="glyphicon glyphicon-plus-sign"></span>Novo Pedido</a>
			</div>
		</div>

		<div class="panel-body">
			<div class="table-responsive">
				<table id="example"
					class="table table-striped table-bordered dt-responsive table-hover">
					<thead>
						<tr>
							<th id="tbid" class="text-left col-md-1"><span class="glyphicon glyphicon-plus"></th>
							<th id="tbid" class="text-left col-md-1">Codigo</th>
							<th id="tbid" class="text-left ">Descricao</th>
							<th id="tbtipo" class="text-left">Tipo</th>
							<th id="tbstatus" class="text-left col-md-1">Status</th>
							<th id="tbstatus" class="text-left col-md-1">Valor Total</th>						
							<th id="tbdtaInicial" class="text-center col-md-1">Data</th>
							<th id="tbacao" class="text-center col-md-1" sec:authorize="hasRole('ROLE_ADMIN')">Ação</th>
							<!--Campos Ocultos na Grid, mas excencial para a pesquisa-->

						</tr>
					</thead>
					<tbody>
						<tr th:each="sale : ${sales}">
							<td id="tbicon" class="text-center">
								<a class="text-link"
									th:href="@{/ithappens/detalhes/{codigo}(codigo=${sale.codigo})}">									
									<span class="btn btn-success glyphicon glyphicon-shopping-cart"> +</span>
								</a>
							</td>
							<td id="tbid" class="text-center" th:text="${sale.codigo}"></td>							
							<td id="tbtitulo">								
								<a class="text-link"
									th:href="@{/ithappens/detalhes/{codigo}(codigo=${sale.codigo})}">									
									<span th:text="${sale.descricao}"></span>
								</a>										
							</td>							
							<!--Restante da Lista-->														
							<td id="tbtipo" class="text-left" th:text="${sale.tipo}"></td>							
							<td id="tbstatus"><span class="text-center" th:text="${sale.status.descricao}" th:classappend="${sale.open ? 'text-success lead' : 'text'}"></span></td>							
							<td id="tbtipo" class="text-left" th:text="${sale.total}"></td>
							<td id="tbdtaInicial" class="text-center" th:text="${{sale.dataOrder}}"></td>
							<!--Campos Ocultos na Grid, mas excencial para a pesquisa-->	
							<!--Menu Ação-->
							<td id="tbacao" class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
								<!--Excluir-->
								<a class="btn btn-link btn-xs"
									data-toggle="modal" data-target="#confirmacaoExclusaoModal"
									th:attr="data-codigo=${sale.codigo},data-tipo=${sale.tipo}, data-descricao=${sale.descricao}"
									title="Excluir" rel="tooltip" data-placement="top"> <span
										class="glyphicon glyphicon-trash"></span>
								</a>
								<!--Editar-->
								<a class="btn btn-link btn-xs"
									th:href="@{/ithappens/{codigo}(codigo=${sale.codigo})}"
									title="Editar" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>																
							</td>
							
													
						</tr>
					</tbody>
				</table>
			</div>
			<div class="pagination pagination-centered" id="pageNav"></div>
		</div>
			<div th:replace="layout/DialogoConfirmacaoExclusao :: excluir-modal"></div>		
	</div>
</section>
</html>